@charset "UTF-8";

#div-login {
  margin:5% 5%;
  font-family:Sans-Serif;
  text-align:center;
  padding: 5% 5%;
  background-color:#005999;
  color:#fff;
}

#div-login input {
  width: 50%;
  margin:5% 5% 5% 0%;
}

#div-login input[type=submit] {
  width: 20%;
  margin:5% 50%;
}