@charset "UTF-8";

#annuncioDiv {
	border-radius:30px;
  font-family : Sans-Serif;
  text-align:center;
  margin:2% 2%;
  background-color:#005999;
  color:#fff;
  padding:1% 1%;
}

#annuncioDiv a {
  text-decoration: none;
  font-size:110%;
}

#annuncioDiv h2 {
  padding: 1%;
  font-style:italic;
  color: aquamarine;
}

#annuncioDiv {
  padding: 5%;
}

#annuncioDiv img {
  width: 30%;
}

#annuncioDiv button {
  margin:5%;
}