
#bachecaDiv {
	border-color:black;
	height: 480px;
	border-radius: 30px;
	margin:3% 3%;
	font-family: Sans-Serif;
	color:#fff;
	background-color: #005999;
	text-align: center;
}

#bachecaDiv h1 {
	font-size: 80%;
	padding: 10%;
}

#bachecaDiv .class_annunci {
	background-color: #005999;
	font-size: 80%;
	border-radius: 30px;
	float:left;
	text-align: center;
	margin:1%;
}

#bachecaDiv a {
	font-size: 80%;
	text-decoration: none;
	font-style:oblique;
	color: aquamarine;
}

#bachecaDiv .class_annunci img {
	width:40%;
}