@charset "UTF-8";

#div-registrazione {
  border-radius:30px;
  font-family:Sans-Serif;
  font-size:80%;
  background-color:#005999;
  color:#fff;
  margin:4%;
  text-align:center;
  padding:2%;
}

#div-registrazione form {
  font-family:Sans-Serif;
  font-size:70%;
  margin: 3%;
}

#div-registrazione input {
  width:90%;
  margin:3%;
}